html {
  background-image: url(books-to-read.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;
}

body {
	padding-top: 100px;
	background: transparent;
	text-align: center;
	
}


.nav-color {
 background-color:#FFD500;
}

.navfont{
	font-family: cursive;
	font-size: 30px;
	text-align: center;
	color: #170871 
}

nav button {
	float: right;
	margin-right: 10px;
}

.btn-sign-up {
	background: #1ED86F;
	
}
span {
	display: inline-block;
}

}
.btn-log-in {
	background: #4F628E;
	
}

.btn-login-fn {
	background: #2D882D;
	margin-top: 4px;
	margin: 0 auto;
}

.btn-recs {
 background: #B04441;
}

.btn-to-read {
	background: #FFB2B0;
}

.btn-read {
	background: #DB7674;
}

.btn-own {
	background: #871D1A;
}

.search-books {
	margin-left: 10px;
	float: left;
}

/*a p {
	text-align: left;
}*/

.book-columns {
	color: #fff;
}

.main-buttons {
	margin-top: -48px;
}

.login-form {
	margin-left: auto;
	margin-right: auto;
	
}

.login-form button {
	float: inherit;
	margin-top: 4px;
}
li {
	list-style-type: none;
}

input {
	color: black;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

a:hover{
	cursor: pointer;
}
.welcome-greeting {
	text-align: center;
	
	color: white;
}

.book-buttons {
	margin-top: -40px;
}

.add-books {
	width: auto;
	float: inherit;
	color: white;
}

.book-list {
	border: 1px solid white;
	/*background: rgba(90, 90, 110, .7);*/
	color: white;
	padding-left: 13px;
	/*min-height: 250px;
	width: auto;
	float: inherit;
	color: white;*/
}

.book-list-item {
	background: rgba(255, 213, 0, .8);

}

.book-list-item a{
	color: #B04441;
}
button {
	color: black;
}

html, body {
  height: 100%;
  width: 100%;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 1200px;
    min-height: 100%;
}

.ngTopPanel {
  line-height: 25px;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.ngGrid.unselectable {
  margin-top: 10px;
}

.search-itune-books {
	float: left;
}