html {
	background-image: url(Reading-A-Book-Pictures.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
}

body {
	padding-top: 100px;
	background: transparent;
	text-align: center;
	
}


.nav-color {
 background-color:#FFD500;
}

.navfont{
	font-family: cursive;
	font-size: 30px;
	text-align: center;
	color: #170871 
}

nav button {
	float: right;
	margin-right: 10px;
}

.btn-sign-up {
	background: #1ED86F;
	margin-top: 4px;
}
span 
	display: inline-block;
}
.btn-log-in {
	background: #4F628E;
	margin-top: 4px;
}

.btn-login-fn {
	background: #2D882D;
	margin-top: 4px;
	margin: 0 auto;
}

.btn-recs {
 background: #B04441;
}

.btn-to-read {
	background: #FFB2B0;
}

.btn-read {
	background: #DB7674;
}

.btn-own {
	background: #871D1A;
}

.search-books {
	margin-left: 10px;
}

.book-list {
	border: 1px solid white;
	background: rgba(90, 90, 110, .7);
	color: white;
	min-height: 250px;
}

.book-columns {
	color: #fff;
}

li {
	list-style-type: none;
}

input {
	color: black;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 1200px;
    min-height: 100%;
}

.ngTopPanel {
  line-height: 25px;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.ngGrid.unselectable {
  margin-top: 10px;
}