
<div class="Navigation">
    <nav class="navbar nav-color navbar-fixed-top nav-border" role="navigation">
      <form class="navbar-form">
        
        <span class="navfont">
          Run Away to a Book
        </span>
        
        </br>
        
        <div class="book-buttons">
          <button class="btn btn-own" ng-click="logout()">Logout</button>
          
        </div>

       <!--  <div class="book-buttons">
          <button ng-click="goToProfile()" class="btn btn-own">Profile</button>
        </div> -->
      
      
    
        <div class='search-itune-books'>
          
         <button ng-click="backToBooks()" class="btn btn-own">Books</button>
        
        </div>
      </form>

    </nav>
  </div>

    <form role="form" class="login-form" novalidate>

      <div class="form-group">
        <label>Name:
          <p style="color: white; font-size: 20px">{{user.name.first}} {{user.name.last}}</p>
        </label>

        <br/>

        <label>E-mail:
          <p style="color: white; font-size: 20px">{{user.password.email}}</p>
        </label>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Old Password</label>
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Old Password" ng-model="profile.oldPassword" required />
      </div>
      
      <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password" ng-model="profile.newPassword" required/>
      </div>
      
       <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>

        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" ng-model="confirmPassword" ng-keyup="checkPasswords()" required />
         <p style="color: white" ng-show="passwordMessage">Passwords Don't Match!</p>
      </div>

      <button ng-show="changePasswordBtn" type="submit" class="btn btn-default" ng-click="updatePassword()">Change Password</button>

  </form>


 <!--  </div> -->
<!-- </div> -->


