<div class="Navigation">
		<nav class="navbar nav-color navbar-fixed-top" role="navigation"><!-- {{test}}{{env}} -->
			<form class="navbar-form">
				
				<span class="navfont">Run Away to a Book</span>
				<!-- {{thing}} -->
				</br>
				
				<div class="book-buttons">
				<button class="btn btn-own" ng-click="gotoOwn()">Own</button>
				
				<button class="btn btn-recs" ng-click="gotoRecommendations()">Recommendations</button>
				
				<button class="btn btn-read" ng-click="gotoRead()">Read</button>
				
				<button class="btn btn-to-read" ng-click="gotoToRead()">To Read</button>
				<!-- <a><p style="color: white" ng-click="logOut()">Log Out </p></a> -->
				</div>
			</form>
			
			<form class="search-books">
				
				<input class="panel" type="text" placeholder="Find Books" ng-model="search.query"/><button ng-click="getBookData()">Find Book</button>

			</form>


		</nav>

		<div class="panel panel-default" ng-if="searchItunes">
      <div class="panel-heading"> Your Search Results:</div>
     <div class="gridStyle" ng-grid="gridOptions | filter: filterOption.filterText" swap-image="defaultInfo.search"></div>
    </div>

  
	
	<h3 class="welcome-greeting">Hello, {{user.name}}</h3>

	<div class="row">
		<div class="col-md-9 add-books ">

		<button class="show-add-books" ng-click="showAddBook()">Add Book</button>
		
		<div class="adding-books" ng-hide="addBookForm">
		<input type="text" ng-model="book.name" placeholder="add a book" />

		<button ng-click="addBook()">Add Book to List</button>
			<br />
			<ul>
			<li ng-repeat="book in books ">
				{{book.name}}
				<img src="{{book.AlbumArt}}"/>
				<!-- {{book.Artist}}
				{{book.Collection}} 
				| filter: {own: false} | filter: {toRead: false} | filter: {read: false} | filter: {recommended: false}-->
				
			<div ng-class="check-boxes">
				Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
				Read: <input type = "checkbox" id="tyler" ng-model="book.read" ng-change="updateBook(book)"/>
				To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
				Recommended: <input type="checkbox" ng-model="book.recommended" ng-change="updateBook(book)"/>	
			</div>
			</li>
			</ul>
			</div>
		
		</div>
	
	</div>
	</div>

	<div class = "row" ng-show="recommended">
		<div class="col-md-9 book-list recommended">
		<h3>Recommended to you</h3>
		<ul>
			<li ng-repeat="book in books | filter: {recommended: true}">
			
			<a ng-click="showBookDetails(book)">{{book.name}}</a>
			<a ng-click="showBookDetails(book)"><img src="{{book.AlbumArt}}"/></a>
			
			<br/>
			
			<button ng-click="checkBoxes = !checkBoxes">Change Book Status</button/>
				<div class="check-boxes" ng-show="checkBoxes">
				Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
				<br/>
				Read: <input type = "checkbox" ng-model="book.read" ng-change="updateBook(book)"/>
				<br/>
				To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
				<br/>
				Recommended: <input type="checkbox" ng-model="book.recommended" ng-change="updateBook(book)"/>
				<br/>
				Comments: <input type="text" ng-model="book.comments" placeholder="notes"/><button ng-click="addBookComments()">Submit</button>
				<button ng-click="removeBook(book)">Remove Book</button>
				</div>
			</li>
		</ul>
			
		</div>
	</div>
	
	

	<div class = "row " ng-show="toRead">
		<div class="col-md-9 book-list to-read">
		<h3>To Be Read </h3>
		<ul>
			<li ng-repeat="book in books | filter: {toRead: true}">
			<a ng-click="showBookDetails(book)">{{book.name}}</a>
			<a ng-click="showBookDetails(book)"><img src="{{book.AlbumArt}}"/></a>
			<br/>
			<button ng-click="checkBoxes = !checkBoxes">Change Book Status</button/>
				
				<div class="check-boxes" ng-show="checkBoxes">
				Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
				<br/>
				Read: <input type = "checkbox" ng-model="book.read" ng-change="updateBook(book)"/>
				<br/>
				To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
				<br/>
				Recommended: <input type="checkbox" ng-model="book.recommended" ng-change="updateBook(book)"/>
				<br/>
				Comments: <input type="text" ng-model="book.comments" placeholder="notes"/><button ng-click="addBookComments()">Submit</button>
				<button ng-click="removeBook(book)">Remove Book</button>
				</div>
			
			</li>
		</ul>
			
		</div>
	</div>

	<div class = "row " ng-show="read">
		<div class="col-md-9 book-list read">
		<h3>Books I've Read!</h3>
		<ul>
			<li ng-repeat="book in books | filter: {read: true}">
			<a ng-click="showBookDetails(book)">{{book.name}}</a>
			<a ng-click="showBookDetails(book)"><img src="{{book.AlbumArt}}"/></a>
			<br/>
			<button ng-click="checkBoxes = !checkBoxes">Change Book Status</button/>
				<div class="check-boxes" ng-show="checkBoxes">
				<br/>Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
				Read: <input type = "checkbox" ng-model="book.read" ng-change="updateBook(book)"/>
				<br/>
				To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
				<br/>
				Recommended: <input type="checkbox" ng-model="book.recommended" ng-change="updateBook(book)"/>
				<br/>
				Comments: <input type="text" ng-model="book.comments" placeholder="notes"/><button ng-click="addBookComments()">Submit</button>
				<button ng-click="removeBook(book)">Remove Book</button>
				</div>
			</li>
		</ul>
			
		</div>
	</div>
	<div class = "row " ng-show="own">
		<div class="col-md-9 book-list own">
		<h3>Books I Own!</h3>
		<ul>
			<li ng-repeat="book in books | filter: {own: true}">
			<a ng-click="showBookDetails(book)">{{book.name}}</a>
			<a ng-click="showBookDetails(book)"><img src="{{book.AlbumArt}}"/></a>
			<br/>
			<button ng-click="checkBoxes = !checkBoxes">Change Book Status</button/>
				<div class="check-boxes" ng-show="checkBoxes">
				Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
				<br/>
				Read: <input type = "checkbox" ng-model="book.read" ng-change="updateBook(book)"/>
				<br/>
				To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
				<br/>
				Recommended: <input type="checkbox" ng-model="book.recommended" ng-change="updateBook(book)"/>
				<br/>
				Comments: <input type="text" ng-model="book.comments" placeholder="notes"/><button ng-click="addBookComments()">Submit</button>
				<button ng-click="removeBook(book)">Remove Book</button>
				</div>
			</li>
		</ul>
			
		</div>
	</div>

</div>

