<div class="Navigation">
	<nav class="navbar nav-color navbar-fixed-top" role="navigation"><!-- {{test}}{{env}} -->
		<form class="navbar-form">
			<span class="navfont">Run Away to a Book</span>
			{{thing}}
			<button class="btn btn-recs" ng-click="gotoRecommendations()">Recommendations</button>
			<button class="btn btn-to-read" ng-click="gotoToRead()">To Read</button>
			<button class="btn btn-read" ng-click="gotoRead()">Read</button>
			<button class="btn btn-own" ng-click="gotoOwn()">Own</button>
		</form>
	</nav>
</div>