
<div class="Navigation">
		<nav class="navbar nav-color navbar-fixed-top nav-border" role="navigation">
			<form class="navbar-form">
				
				<span class="navfont">
					Run Away to a Book
				</span>
				
				</br>
				
				<div class="book-buttons">
					<button class="btn btn-own" ng-click="logout()">Logout</button>
					
				</div>

				<div class="book-buttons">
					<button ng-click="goToProfile()" class="btn btn-own">Profile</button>
				</div>
			
			
		
				<div class='search-itune-books'>
					
					<input class="form-control" type="text" placeholder="Find Books" ng-model="search.query"/>
					
					<button ng-show='findBook' class='btn btn-own add-iBook'ng-click="getBookData()">
						Find Book
					</button>
					<button ng-show='hideBook' class='btn btn-own add-iBook' ng-click='hideItunesSearch()'>Hide Books
					</button>
				
				</div>
			</form>

		</nav>
	</div>


	<div class="panel panel-default" ng-if="searchItunes">
      		<div class="panel-heading"> 
      			Your Search Results:
      		</div>
     
     		<div class="gridStyle" ng-grid="gridOptions | filter: filterOptions.filterText" swap-image="defaultInfo.search">
 
     		</div>
    </div>



	
	

<div class='container'>
	<div class="row">
		<div class='col-md-12'>
			<h3 class="welcome-greeting">Hello, {{user.name.first}}</h3>
		</div>
	</div>

	<div class='row'>
		<div class="col-md-12 add-books">

			<button class="btn btn-own show-add-books" ng-click="showAddBook()">Add Book</button>
			
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3'>
					<div class="adding-books input-group" ng-hide="addBookForm">
						
						<input class='form-control' type="text" ng-model="iBook.name" placeholder="Book Title" />
						<input class='form-control' type='text' ng-model='iBook.author' placeholder='Book Author' />
						<span class='input-group-btn'>
							<button class='btn btn-add' ng-click="addBook(iBook)">Add Book to List</button>
						</span>
					
					</div>
				</div>
			</div>
				
				<br />
				<ul class='col-md-6 col-md-offset-3'>
					<li ng-repeat="iBook in iBooks" class='un-sorted-books'>
						{{iBook.Collection}}
						{{iBook.name.toUpperCase()}}
						<img src="{{iBook.AlbumArt}}"/>
					
						<div ng-class="check-boxes">
							
							Own: <input type="checkbox" ng-model="iBook.own" />
						
							Read: <input type = "checkbox" id="tyler" ng-model="iBook.read" />
						
							To Read: <input type="checkbox" ng-model="iBook.toRead" />
						
							Reading: <input type="checkbox" ng-model="iBook.reading"/>
							
							<a ng-click="saveBook(iBook)"><i class="fa fa-floppy-o check-boxes-button" style='font-size: 20px'></i></a>

							<a ng-click="removeDisplayBook(iBook)"><i class="fa fa-trash check-boxes-button"></i></a>
							
						</div>
						<hr>
					</li>
				</ul>
			</div>
		
		</div>
	
	</div>
	
	
	<div class="row" ng-show="bookLists">
		<div class="col-md-6 list-group book-list read">
			<h3 class='list-group-item-heading'>Books I've Read!</h3>
			
			<ul class='list-group-item book-list-item' ng-repeat='book in books | filter: {read: true}'>
				<li>
				<a ng-click="showBookDetails(book)"><em>{{book.name}}</em></a>
				<a ng-click="showBookDetails(book)"><img src="{{book.AlbumArt}}"/></a>
				<br/>
				<a ng-click="showBookDetails(book)"><em>{{book.Collection}}</em></a>
				<br/>
				<a ng-click="checkBoxes = !checkBoxes"><i class="fa fa-caret-square-o-down check-boxes-button"></i></a>
				<a ng-click="removeBook(book)"><i class="fa fa-trash check-boxes-button"></i></a>
					<div class="check-boxes" ng-show="checkBoxes">
					<br/>
					Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
					
					Read: <input type = "checkbox" ng-model="book.read" ng-change="updateBook(book)"/>
					
					To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
					
					Reading: <input type="checkbox" ng-model="book.reading" ng-change="updateBook(book)"/>
				
					</div>
				</li>
			</ul>
		</div>


		<div class="col-md-6 book-list own list-group">
				<h3 class='list-group-item-heading'>Books I Own!</h3>
				<ul class='list-group-item book-list-item' ng-repeat="book in books | filter: {own: true}">
					<li>
					<a ng-click="showBookDetails(book)">{{book.name}}</a>
					
					<a ng-click="showBookDetails(book)"><img src="{{book.AlbumArt}}"/></a>
					<br/>
					
					<a ng-click="showBookDetails(book)"><em>{{book.Collection}}</em></a>
					<br/>
					
					<a ng-click="checkBoxes = !checkBoxes"><i class="fa fa-caret-square-o-down check-boxes-button"></i></a>
					
					<a ng-click="removeBook(book)"><i class="fa fa-trash check-boxes-button"></i></a>
						
						<div class="check-boxes" ng-show="checkBoxes">
						Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
						
						Read: <input type = "checkbox" ng-model="book.read" ng-change="updateBook(book)"/>
						
						To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
					
						Reading: <input type="checkbox" ng-model="book.reading" ng-change="updateBook(book)"/>
						
					
						
						</div>
					</li>
				</ul>
			</div>

		</div>


 	<div class = "row" ng-show="bookLists">
		<div class="col-md-6 list-group book-list">
		<h3 class='list-group-item-heading'>To Be Read </h3>
		<ul class='list-group-item book-list-item' ng-repeat="book in books | filter: {toRead: true}">
					<li>
					<a ng-click="showBookDetails(book)">{{book.name}}</a>
					
					<a ng-click="showBookDetails(book)"><img src="{{book.AlbumArt}}"/></a>
					<br/>
					
					<a ng-click="showBookDetails(book)"><em>{{book.Collection}}</em></a>
					<br/>
					
					<a ng-click="checkBoxes = !checkBoxes"><i class="fa fa-caret-square-o-down check-boxes-button"></i></a>
					
					<a ng-click="removeBook(book)"><i class="fa fa-trash check-boxes-button"></i></a>
						
						<div class="check-boxes" ng-show="checkBoxes">
						Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
						
						Read: <input type = "checkbox" ng-model="book.read" ng-change="updateBook(book)"/>
						
						To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
					
						Reading: <input type="checkbox" ng-model="book.reading" ng-change="updateBook(book)"/>
						
					
						
						</div>
					</li>
				</ul>
			
		</div>


		
	<div class="col-md-6 list-group book-list reading">
		
		<h3 class='list-group-item-heading'>Currently Reading</h3>
		
		<ul class='list-group-item book-list-item' ng-repeat="book in books | filter: {reading: true}">
					<li>
					<a ng-click="showBookDetails(book)">{{book.name}}</a>
					
					<a ng-click="showBookDetails(book)"><img src="{{book.AlbumArt}}"/></a>
					<br/>
					
					<a ng-click="showBookDetails(book)"><em>{{book.Collection}}</em></a>
					<br/>
					
					<a ng-click="checkBoxes = !checkBoxes"><i class="fa fa-caret-square-o-down check-boxes-button"></i></a>
					
					<a ng-click="removeBook(book)"><i class="fa fa-trash check-boxes-button"></i></a>
						
						<div class="check-boxes" ng-show="checkBoxes">
						Own: <input type="checkbox" ng-model="book.own" ng-change="updateBook(book)"/>
						
						Read: <input type = "checkbox" ng-model="book.read" ng-change="updateBook(book)"/>
						
						To Read: <input type="checkbox" ng-model="book.toRead" ng-change="updateBook(book)"/>
					
						Reading: <input type="checkbox" ng-model="book.reading" ng-change="updateBook(book)"/>
						
					
						
						</div>
					</li>
				</ul>
			
		</div>
	</div>


</div>

